.bankHeader{
    padding: 10px;
  text-align: center;
  background: rgb(24, 22, 22);
  color: white;
  font-size: 90px;
  font-family: 'Bungee Spice', cursive;
  height: 200px;
}
.selected-bots{
  display: grid;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  margin-top: 5px;
  grid-gap: 20px;
  box-sizing: border-box;
  grid-template-columns:repeat(4, minmax(200px, 0.5fr));
  background-color: rgb(234, 188, 6);
 
} 
.search{
  margin-top: 10px;
  width: 890px;
  height: 50px;
  border-radius: 10px;
  border-color: rgb(198, 44, 17);
  border-style: solid;
  border-width: 4px;
  outline: none;
  font-size: larger;
  text-align: center;
  margin-left: 450px;
}


.card{
  float: right;
  width: 20%;
  padding: 0px;
  background-color: rgb(234, 188, 6);
  margin-top: 10px;
cursor: pointer;



}
.card1{
  display: flex;
  width: 17.5%;
  padding: 1px;
  margin-top: 10px;
cursor: pointer;
text-align: justify;

}
.card-img{
width: 200px;
height: 200px;
object-fit: contain;
}
.card:hover{
  background-color: rgb(242, 163, 6);
  color: black;
  transform: scale(1.03);
}
.card-body{
margin:1rem;
font-size: small;
flex-grow: 1;
font-family: 'Bungee Spice', cursive;
font-family: 'Press Start 2P', cursive;
}

.card-title{
line-height: 1.4rem;
margin-bottom: 0.5rem;
font-size: 2p5x;
font-weight: bolder;
text-align: center;
text-decoration: underline;


}

.card-text{
line-height: 1.2rem;
}
.card-btn{
  border: none;
  border-top: 1px solid rgb(29, 26, 26);
  background-color: transparent;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
  width: 100px;
  padding-top: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  background-color: rgba(245, 237, 237, 0.3);
  margin-left: 30%;

}
.card-btn:hover{
  color: rgb(125, 19, 19);
}
.army-container{
  height: 400px;
  width: 100%;
  background-color: rgb(242, 163, 6)
}
.selected-bot{
  font-family: 'Bungee Spice', cursive;
}

